@media (max-width: 900px) {
    .blogs-main-new {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }
    .blogs-new-img-container {
        grid-row: 2;
    }
    .blogs-new-info-container {
        grid-column: 1;
        grid-row: 3;
    }
    .blogs-posts-container .post-container {
        max-width: 45%;
    }
    .proyects-main-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
    }
    .profile-main-container .profile-container {
        display: block;
    } 
}

@media (max-width: 600px) {

    .nav-menu-desktop {
        display: none;
    }
    .nav-menu-mobile {
        display: flex;
        width: auto;
    }

    /* index */
    .home-main-text {
        font-size: 25px;
        letter-spacing: 1px;
    }
    
    /* Blogs */
    .blogs-news-container {
        max-width: min-content;
        margin: 0;
    }

    .blogs-posts-container .post-container {
        max-width: 95%;
    }
}