@media (max-width: 900px) {

    /* Blogs */
    .blogs-news-container .blogs-main-new {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
    }
    .blogs-new-img-container {
        grid-row: 1;
    }
    .blogs-new-info-container {
        grid-column: 1;
        grid-row: 2;
    }
    .blogs-posts-container .grid-container {
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
        column-gap: 10px;
    }

    /* Profile */
    .profile-main-container .profile-container{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
    }
    .profile-main-proyects .grid-container {
            grid-template-columns: 1fr 1fr;
            column-gap: 10px;
        }
}

@media (max-width: 600px) {

    .nav-menu-desktop {
        display: none;
    }
    .nav-menu-mobile {
        display: flex;
        width: auto;
    }

    /* index */
    .home-main-text {
        font-size: 25px;
        letter-spacing: 1px;
    }
    
    /* Blogs */
    .blogs-news-container .blogs-main-new {
        grid-template-columns: 1fr;
        padding: 20px;
    }
    .blogs-new-img-container {
        height: 220px;
    }
    .blogs-posts-container .grid-container {
        grid-template-columns: 1fr;
        row-gap: 50px;
        padding: 20px;
    }

    /* Profile */
    .profile-main-container .profile-container {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
    }
    .profile-main-proyects .grid-container {
        grid-template-columns: 1fr;
        padding: 20px;
    }
}